# LaTeX
*.aux
*.log
*.out
*.toc
*.blg
*.bbl
*.synctex.gz
*.synctex*
*.fdb_latexmk
*.fls

# macOS
.DS_Store

# LaTeX auxiliary files
*.bcf
*.run.xml
*.lof
*.lot
*.nav
*.snm
*.thm
*.vrb
*.xdv

# CI-generated temporary file
template-ci.tex
template-ci.pdf
